@model ScheduleApp.Web.Models.Database.SwitchShift

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SwitchShift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrevUserId" class="control-label"></label>
                <select asp-for="PrevUserId" class="form-control" asp-items="ViewBag.PrevUserId"></select>
                <span asp-validation-for="PrevUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevUserDate" class="control-label"></label>
                <input asp-for="PrevUserDate" class="form-control" />
                <span asp-validation-for="PrevUserDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUserId" class="control-label"></label>
                <select asp-for="NewUserId" class="form-control" asp-items="ViewBag.NewUserId"></select>
                <span asp-validation-for="NewUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUserDate" class="control-label"></label>
                <input asp-for="NewUserDate" class="form-control" />
                <span asp-validation-for="NewUserDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
