@{
    ViewData["Title"] = "Schedule";
    ViewData["Subtitle"] = "myCalendar";
}

<div class="btn-toolbar " role="toolbar">
    <div class="btn-group" role="group">
        <a asp-controller="Preferences" asp-action="Create" class="btn btn-primary">Add Shift Preferences</a>
        <a asp-controller="Preferences" asp-action="Index" disabled onclick="return false;" class="btn btn-default">Manage Shift Preferences <span class="label label-danger">TBD</span></a>
    </div>
    <div class="btn-group" role="group">
        <a asp-controller="Requests" asp-action="Create" class="btn btn-primary">Request Shift Switch</a>
        <a asp-controller="Requests" asp-action="Index" disabled onclick="return false;" class="btn btn-default">Approve Shift Switch Requests <span class="label label-danger">TBD</span></a>
    </div>
</div>
<br />
@section Breadcrumbs
    {
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
}
@section Scripts {
    @Html.Partial("_Calendar", null, new ViewDataDictionary(this.ViewData))
}

@section Styles {

    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>

}