@{
    ViewData["Title"] = "My Calendar";
    //  { new KeyValuePair<string, object>("events", ViewData["events"]) }
}
<br />
<h2>@ViewData["Title"]</h2>

<p>
        <button asp-controller="Requests" asp-action="Create" class="btn btn-primary">Switch Request</button>
</p>
@section Breadcrumbs
    {
    <ol class="breadcrumb">
        <li class="active">myCalendar</li>
    </ol>
}
@section Scripts {
    @Html.Partial("_Calendar", null, new ViewDataDictionary(this.ViewData))
}

@section Styles {

    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>

}