@model ScheduleApp.Model.SwitchRequest

@{
    ViewData["Title"] = "Create";
}

<h2>Request</h2>

<h4>switch shifts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" disabled class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrentShiftId" class="control-label"></label>
                <select asp-for="CurrentShiftId" class="form-control" asp-items="ViewBag.CurrentShiftId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WishShiftId" class="control-label"></label>
                <select asp-for="WishShiftId" class="form-control" asp-items="ViewBag.WishShiftId"></select>
            </div>
            <input asp-for="IsBroadcast" class="form-control" />
            <input asp-for="HasBeenSwitched" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <button class="btn btn-primary" asp-action="Index">Back to List</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
